.setting-box {
  position: fixed;
  left: -200px;
  bottom: 0;
  background-color: $fff;
  width: 200px;
  z-index: 100;
  min-height: 100vh;
  transition: .3s;
  border: 1px solid #eee;

  &.open {
    left: 0;
  }

  .toggle-settings {
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: $fff;
    text-align: center;
    cursor: pointer;

    .fa-cog {
      padding: 8px 0;
      width: 30px;
    }
  }

  .settings-container {
    .option-box {
      padding: 10px;
      text-align: center;
      margin: 10px;
      background-color: #eee;

      h4 {
        color: #666;
        margin: 0;
        font-size: 14px;
      }

      .color-list {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 10px 0 0;

        li {
          width: 24px;
          height: 24px;
          background-color: #333;
          border-radius: 50%;
          cursor: pointer;
          display: inline-block;
          border: 3px solid #eee;

          &.active {
            border-color: #fff;
          }

          &:nth-child(1) {
            background-color: $color-1;
          }

          &:nth-child(2) {
            background-color: $color-2;
          }

          &:nth-child(3) {
            background-color: $color-3;
          }

          &:nth-child(4) {
            background-color: $color-4;
          }

          &:nth-child(5) {
            background-color: $color-5;
          }

        }

      }
    }

    ///////////////////////////////
    .option-box {


      .yes,
      .no {
        width: 50px;
        background-color: $main-color;
        color: $fff;
        cursor: pointer;
        display: inline-block;
        margin-top: 10px;
        font-size: 12px;
        padding: 4px 10px;
        border-radius: 4px;
        opacity: .5;
        font-weight: bold;
      }

      span.active {
        opacity: 1;
      }

    }
  }

  .reset-option {
    background-color: $main-color;
    cursor: pointer;
    border: none;
    width: 178px;
    margin: 10px auto;
    display: block;
    color: $fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
  }
}

//////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////


// start nav bullets

.nav-bullets {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 1000;

  .bullet {
    width: 15px;
    height: 15px;
    border: 3px solid $main-color;
    margin: 15px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;


    &:hover .tooltip {
      display: block;

    }

    .tooltip {
      background-color: $main-color;
      width: 120px;
      color: $fff;
      padding: 5px 7px;
      position: absolute;
      right: 28px;
      top: -10px;
      text-align: center;
      cursor: default;
      pointer-events: none;
      display: none;


      &::before {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        border: 8px solid;
        border-color: transparent transparent transparent $main-color;
        top: 50%;
        transform: translateY(-50%);
        right: -16px;
      }
    }
  }
}

// end nav bullets